<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
<br>
<br>
<br>
<button type="button" id="btn"><%= link_to "Back to Main Menu", tasks_path %></button>

